<!-- header -->
<header data-bs-theme="dark">
  <nav class="navbar navbar-expand-md navbar-dark" style="background: orange">
    <div class="container-fluid">
      <a class="navbar-brand">Electro-shop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  routerLink="/list">Lista</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/login">Login</a>
          </li>
        </ul>
        <form class="d-flex" role="search" *ngIf="ifSearch">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-Light" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
</header>
