<header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark" style="background: orange">

        <a class="navbar-brand mb-2">Electro</a>
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-items"><a href="#" class="link nav-link">Cerrar Sesión</a></li>
        </ul>
    </nav>
</header>
<a class="btn btn-warning mt-1" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
    aria-controls="offcanvasExample">Menu
</a>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header" style="background:orange ;color:white ;">
        <img src="images/icon.PNG" class="icono rounded-circle" alt="">
        <h1 class="offcanvas-title">Electro</h1>
        <button type="button" class="btn-close text-reset btn-warning" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <ul>
            <li class="m-2">
                <a routerLink="/crm/users" class="link-dark" style="text-decoration-line: none;">
                    <i class="bi bi-person-bounding-box m-2"></i>
                    Usuarios
                </a>
            </li>
            <li class="m-2">
                <a routerLink="/crm/brands" class="link-dark" style="text-decoration-line: none;">
                    <i class="bi bi-front m-2"></i>
                    Marcas
                </a>
            </li>
            <li class="m-2">
                <a routerLink="/crm/category" class="link-dark " style="text-decoration-line: none;">
                    <i class="bi bi-card-list m-2"></i>
                    Categorias
                </a>
            </li>
            <li class="m-2">
                <a routerLink="/crm/products" class="link-dark " style="text-decoration-line: none;">
                    <i class="bi bi-bag-check-fill m-2"></i>
                    Productos
                </a>
            </li>
        </ul>
    </div>
</div>

<router-outlet />
