<header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md navbar-dark" style="background: orange">
        <a class="btn btn-primary me-5" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
           aria-controls="offcanvasExample">
            Menu
        </a>
        <a class="navbar-brand mb-2">Electro</a>
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-items"><a href="#" class="link nav-link">Cerrar Sesión</a></li>
        </ul>
    </nav>
</header>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Electro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul>
            <li class="m-2">
                <a routerLink="/crm/usuarios" class="link-dark" style="text-decoration-line: none;">
                    <i class="bi bi-person-bounding-box m-2"></i>
                    Usuarios
                </a>
            </li>
            <li class="m-2">
                <a routerLink="/crm/marcas" class="link-dark" style="text-decoration-line: none;">
                    <i class="bi bi-front m-2"></i>
                    Marcas
                </a>
            </li>
            <li class="m-2">
                <a routerLink="/crm/categorias" class="link-dark " style="text-decoration-line: none;">
                    <i class="bi bi-card-list m-2"></i>
                    Categorias
                </a>
            </li>
            <li class="m-2">
                <a routerLink="/crm/imagenes" class="link-dark " style="text-decoration-line: none;">
                    <i class="bi bi-aspect-ratio-fill m-2"></i>
                    Imagenes
                </a>
            </li>
            <li class="m-2">
                <a routerLink="/crm/productos" class="link-dark " style="text-decoration-line: none;">
                    <i class="bi bi-bag-check-fill m-2"></i>
                    Productos
                </a>
            </li>
        </ul>
    </div>
</div>
<router-outlet/>
