<main class="container">
    <h3 class="mb-3">Marcas</h3>
    <a class="btn btn-primary">Nuevo</a>
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" *ngFor="let column of displayedColumns">{{ column }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of dataSource">
          <th scope="row">{{ row.id }}</th>
          <td>{{ row.name }}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Acciones">
              <button type="button" class="btn btn-primary">Editar</button>
              <button type="button" class="btn btn-danger">Eliminar</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </main>