<main class="container">
    <h3 class="mb-3">Marcas</h3>
    <a class="btn btn-primary" (click)="openModal(null)">Nuevo</a>

    <table class="table table-striped">
      <thead>
        <tr>
          @for (colum of displayedColumns; track colum) {
            <th scope="col">{{ colum }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (row of dataSource; track row.id) {
          <tr >
            <th scope="row">{{ row.id }}</th>
            <td>{{ row.name }}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Acciones">
                <button type="button" class="btn btn-primary" (click)="openModal(row)">Editar</button>
                <button type="button" class="btn btn-danger">Eliminar</button>
              </div>
            </td>
          </tr>
        }

      </tbody>
    </table>
  </main>
