<p>table works!</p>
<table class="table table-striped">
  <thead>
  <tr>
    @for (colum of displayedColumns; track colum) {
      <th scope="col">{{ colum }}</th>
    }
  </tr>
  </thead>
  <tbody>
    @for (row of dataSource; track row.id) {
      <tr>
        <th scope="row">{{ row.id }}</th>
        <td>{{ row.name }}</td>
        <td>{{ row.price | currency:'COP ':'symbol':'1.0-0' }}</td>
        <td>{{ row.description }}</td>
        <td>
          <img ngSrc="{{row.imageUrl}}" alt="{{row.description}}" width="50" height="50">
        </td>
        <td>{{ row.quantity }}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-primary">Editar</button>
            <button type="button" class="btn btn-danger">Eliminar</button>
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>
