<main class="container">
  <h3 class="mb-3">Productos</h3>
  <button class="btn btn-primary" (click)="openModal(null)">Nuevo</button>
  <table class="table table-striped">
    <thead>
    <tr>
      @for (colum of displayedColumns; track colum) {
        <th scope="col">{{ colum }}</th>
      }
    </tr>
    </thead>
    <tbody>
      @for (row of dataSource; track row.id) {
        <tr>
          <th scope="row">{{ row.id }}</th>
          <td>{{ row.name }}</td>
          <td>{{ row.price | currency:'COP ':'symbol':'1.0-0' }}</td>
          <td>{{ row.description }}</td>
          <td>
            <img ngSrc="{{row.imageUrl}}" alt="{{row.description}}" width="50" height="50">
          </td>
          <td>{{ row.quantity }}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <button type="button" class="btn btn-primary" (click)="openModal(row)">
                <mat-icon fontIcon="edit"></mat-icon>
              </button>
              <button type="button" class="btn btn-danger" (click)="openModalDelete(row)">
                <mat-icon fontIcon="delete"></mat-icon>
              </button>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</main>



