<app-topbar></app-topbar>
<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Nombre de la categoría</h1>
          <p class="lead text-body-secondary">encuentra aquí los mejores productos en (categoría)</p>
          <p>
          </p>
        </div>
      </div>
    </section>
    <div class="album py-5 bg-body-tertiary">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            
            <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="#" alt="">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                <h4>{{product?.name}}</h4>
                <h5>{{product?.price}}</h5>
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-primary m-1">Agregar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
