<app-topbar [ifSearch]="false"></app-topbar>
<div class="d-flex justify-content-center bg-light mt-3" style="opacity:0.8;">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <h1 class="h3 mb-5 fw-normal" style="text-align: center;">Iniciar sesión</h1>

    <div class="m-3 has-validation mt-5">
      <label for="nom-user" class="form-label"><span>*</span> Nombre de usuario</label>
      <input id="nom-user" type="text" class="form-control" formControlName="username" placeholder="Nombre de usuario" name="username" required>
    </div>
    <div class="m-3 has-validation mt-5">
      <label for="nom-pass" class="form-label"><span>*</span> Contraseña</label>
      <input id="nom-pass" type="password" class="form-control" formControlName="password" placeholder="Contraseña" name="password" required>
    </div>

    <div class="ms-3 checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Recordarme
      </label>
    </div>
    <div class="d-grid gap-3">
      <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">Ingresar</button>
      <p class="text-muted" style="text-align: center;">© Electro</p>
    </div>
  </form>

</div>
<div class="d-flex justify-content-center bg-light mt-3">
  <div class="ms-3 checkbox mb-3">
    <button class="btn btn-primary" (click)="temporal()">Ingresar sin usuario (temporal)</button>
    <button class="btn btn-primary" routerLink="/register">Registrarse</button>
  </div>
</div>

