<app-topbar></app-topbar>
<div class="container">
  <div class="card mb-3 mt-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img ngSrc="https://placehold.co/400x500" class="img-fluid rounded-start" alt="{{product?.name}}"
        width="400" height="500">
      </div>
      <div class="col-md-8 d-flex justify-content-center align-items-center">
        <div class="card-body">
          <h5 class="card-title">{{product?.name}}</h5>
          <p class="card-text">{{product?.description}}</p>
          <p class="card-text"><strong>{{ product?.price | currency:'COP ':'symbol':'1.0-0' }}</strong></p>
          <p class="card-text"><small class="text-body-secondary">Unidades: {{product?.quantity}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
