<app-topbar></app-topbar>
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <div class="carousel-inner">
    @for (item of carruselProducts; track item.id) {
      <div class="carousel-item" [ngClass]="{'active' : item.id == 1}">
          <img ngSrc="{{item.imageUrl}}" class="d-block w-100 gray-background" alt="{{item.description}}" fill priority />
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Promoción {{item.id}}</h1>
            <p class="opacity-75">{{ item.description }}</p>
            <p><a class="btn btn-lg btn-primary" routerLink="/detailproduct/{{item.id}}">Ir al producto</a></p>
          </div>
        </div>
      </div>
    }

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container marketing">
  <div class="row">
    <h3 class="container d-flex justify-content-evenly mb-5">Nuestros productos</h3>

    @for (item of ourProducts; track item.id) {
      <div class="col-lg-4">
        <img ngSrc="{{item.imageUrl}}" alt="{{item.description}}" class="bd-placeholder-img rounded-circle gray-background" width="140"
             height="140" priority>
        <h2 class="fw-normal">Producto {{ item.id }}</h2>
        <p>{{ item.description }}</p>
        <p><a class="btn btn-secondary" routerLink="/detailproduct/{{item.id}}">Ver producto &raquo;</a></p>
      </div>
    }

  </div>
  <hr class="featurette-divider">
</div>
