<mat-card appearance="outlined">
  <mat-card-content>
    @if (data?.id) {
      <h1>Editar Producto</h1>
    } @else {
      <h1>Crear Producto</h1>
    }
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input type="text" matInput placeholder="Ejemplo" id="name" formControlName="name">
        @if (productForm.get('name')?.touched && productForm.get('name')?.hasError('required')) {
          <mat-error>Nombre es <strong>requerido</strong></mat-error>
        }
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Precio</mat-label>
        <input type="number" matInput placeholder="1.000" id="price" formControlName="price">
        @if (productForm.get('price')?.touched) {
          @if (productForm.get('price')?.hasError('required')) {
            <mat-error>El precio es <strong>requerido</strong></mat-error>
          } @else if (productForm.get('price')?.hasError('min')) {
            <mat-error>El precio debe ser mayor o igual a <strong>1.000</strong></mat-error>
          }
        }
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Descripcion</mat-label>
        <textarea  type="text" matInput placeholder="Descripcion" id="description" formControlName="description"></textarea>
        @if (productForm.get('description')?.touched && productForm.get('description')?.hasError('required')) {
          <mat-error>La descripcion es <strong>requerida</strong></mat-error>
        }
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Url de la imagen</mat-label>
        <input type="text" matInput placeholder="Url de la imagen" id="imageUrl" formControlName="imageUrl">
        @if (productForm.get('imageUrl')?.touched && productForm.get('imageUrl')?.hasError('required')) {
          <mat-error>La url de la imagen es <strong>requerida</strong></mat-error>
        }
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Cantidad</mat-label>
        <input type="number" matInput placeholder="0" id="quantity" formControlName="quantity">
        @if (productForm.get('quantity')?.touched) {
          @if (productForm.get('quantity')?.hasError('required')) {
            <mat-error>Cantidad es <strong>requerida</strong></mat-error>
          } @else if (productForm.get('quantity')?.hasError('min')) {
            <mat-error>La cantidad debe ser mayor o igual a 0</mat-error>
          }
        }
      </mat-form-field>

      <button mat-stroked-button type="submit" [disabled]="productForm.invalid">Register</button>
    </form>
  </mat-card-content>
</mat-card>
